%p#notice= notice
%h1
  = @blog.title
%p
  %strong Title:
  = @entry.title
%p
  %strong Body:
  = @entry.body
= link_to 'Edit', edit_blog_entry_path(@blog, @entry)
|
= link_to 'Back', blog_path(@blog)

%hr

%h2 Listing comments

%table
  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.mask_unapproved_body
        %td= link_to 'Approve', approve_blog_entry_comment_path(@blog, @entry, comment), :method => :patch, :data => { :confirm => 'Are you sure?' }
        %td= link_to 'Destroy', blog_entry_comment_path(@blog, @entry, comment), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%h2 New comment

= form_for [@blog, @entry, @entry.comments.build] do |f|
  .field
    = f.label :body
    %br
    = f.text_area :body
  .actions
    = f.submit 'Save'
